@{
	ViewBag.Title = "About";
}
<h2><a href="http://loftysoft.com" target="_blank"><img src="~/images/loftysoft.big.png" alt="Loftysoft AB" /></a></h2>
<h3>This site is a demo site built to show functionality in <a href="https://azure.microsoft.com/en-us/services/application-insights/" target="_blank">Microsoft Azure Application Insights</a>!</h3>

<p>Here is some LinkedIn information about <a href="https://se.linkedin.com/in/noopman" target="_blank">Magnus Mårtensson</a>.</p>
<p>You can reach him on <a href="mailto:magnus@loftysoft.com&Subject=Saw your Application Insights demo and...">magnus@loftysoft.com</a> and on <a href="callto://46768510036">+46 768 51 00 36</a>.</p>
